# Requirements for Dit

# Common requirements
python-dateutil >= 2.9.0
PyYAML >= 6.0.2
pick >= 2.3.2

# Requirements for Dit GUI
pyqt5 >= 5.15.11

# Requirements for unit tests
unittest2 >= 1.1
mock >= 5.1.0
unittest-xml-reporting >= 3.2.0
