<table>
    <tr>
        <td colspan=2>
            <font size="4">[TITLE]</font>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <font size="2">Issue [NAME]</font>
            <hr>
        </td>
    </tr>
    <tr>
        <td valign="top" width=100><b>Description</b></td>
        <td>[DESCRIPTION]</td>
    </tr>
    <tr>
        <td><b>Type</b></td>
        <td>[ISSUE_TYPE]</td>
    </tr>
    <tr>
        <td><b>Status</b></td>
        <td><font color="[STATUS_COLOR]">[STATUS]</font></td>
    </tr>
    <tr>
        <td><b>Creator</b></td>
        <td>[CREATOR]</td>
    </tr>
    <tr>
        <td><b>Created</b></td>
        <td>[CREATED]</td>
    </tr>
    <tr>
        <td><b>Release</b></td>
        <td>[RELEASE]</td>
    </tr>
    <tr>
        <td><b>Component</b></td>
        <td>[COMPONENT]</td>
    </tr>
    <tr>
        <td><b>References</b></td>
        <td>[REFERENCES]</td>
    </tr>
    <tr>
        <td><b>Identifier</b></td>
        <td><font color="#505050">[IDENTIFIER]</font></td>
    </tr>
    <tr>
        <td><b>Log</b></td>
    </tr>
    [EVENT_LOG]
</table>

